<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emix</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="@Emix.Web.App_Start.Settings.SiteDescription">

    @Styles.Render("~/Content/Styles/Ltecss")
    @{ Html.RenderPartial("_Urls"); }

    @{
        var language = Emix.Web.App_Start.Settings.DefaultLanguage;
        var langCookie = Request.Cookies["emixlang"];
        if (langCookie != null && !string.IsNullOrEmpty(langCookie.Value))
        {
            var cookieLanguage = langCookie.Value.Replace("%22", string.Empty);
            if (System.Text.RegularExpressions.Regex.IsMatch(cookieLanguage, "^[a-z]{2}-[a-zA-Z]{2}$"))
            {
                language = cookieLanguage;
            }
        }
    }

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="skin-blue" ng-app="emixApp" ng-cloak>
    <div class="wrapper" ng-fix-layout-on-resize>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/emixApp")
    <script src="@Url.Content("~/Scripts/angular-i18n/angular-locale_" + language + ".js")"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
