<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emix</title>
    @Styles.Render("~/Content/css")
    @{ Html.RenderPartial("_Urls"); }
</head>
<body ng-app="emixApp" ng-cloak>
    @RenderBody()

    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/emixApp")
    @RenderSection("scripts", required: false)
</body>
</html>
